In [3]:
import pandas as pd
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt

In [4]:
infile = 'Source_Data/merged_counties_xnote.csv'

In [5]:
data = pd.read_csv(infile)
data.tail()

,Unnamed: 0,Unnamed: 0.1,county,state,county_and_state_x,code,Deaths,Population,Crude Rate,fips,...,noinsurance,physicians,pollution,diabetes,county_and_state_y,code2,sunlight,blow,ganj,smack
3184,3184,3233,Teton,Wyoming,"Teton County, WY",56039.0,21.0,23191.0,90.6,56039.0,...,15.0,121.0,4.9,4.0,"Teton County, WY",56039.0,16531.32,1.331,10.965,0.234
3185,3185,3234,Uinta,Wyoming,"Uinta County, WY",56041.0,42.0,20773.0,202.2,56041.0,...,13.0,39.0,5.9,9.0,"Uinta County, WY",56041.0,17123.76,1.331,10.965,0.234
3186,3186,3235,Washakie,Wyoming,"Washakie County, WY",56043.0,18.0,8235.0,218.6,56043.0,...,17.0,49.0,4.8,11.0,"Washakie County, WY",56043.0,16171.03,1.331,10.965,0.234
3187,3187,3236,Weston,Wyoming,"Weston County, WY",56045.0,21.0,7236.0,290.2,56045.0,...,14.0,41.0,4.1,9.0,"Weston County, WY",56045.0,15923.65,1.331,10.965,0.234
3188,3188,3238,Niobrara,Wyoming,NaN,NaN,NaN,NaN,NaN,56027.0,...,16.0,40.0,3.3,8.0,"Niobrara County, WY",56027.0,16054.19,1.331,10.965,0.234

In [6]:
data = data.drop(columns=['Unnamed: 0','Unnamed: 0.1'])

In [7]:
data.head()

,county,state,county_and_state_x,code,Deaths,Population,Crude Rate,fips,smoking,obesity,...,noinsurance,physicians,pollution,diabetes,county_and_state_y,code2,sunlight,blow,ganj,smack
0,Autauga,Alabama,"Autauga County, AL",1001.0,163.0,55416.0,294.1,1001.0,19.0,38.0,...,9.0,42.0,11.7,14.0,"Autauga County, AL",1001.0,17103.72,1.158,9.282,0.276
1,Baldwin,Alabama,"Baldwin County, AL",1003.0,640.0,208563.0,306.9,1003.0,17.0,31.0,...,11.0,73.0,10.3,11.0,"Baldwin County, AL",1003.0,17660.59,1.158,9.282,0.276
2,Barbour,Alabama,"Barbour County, AL",1005.0,90.0,25965.0,346.6,1005.0,22.0,44.0,...,13.0,39.0,11.5,18.0,"Barbour County, AL",1005.0,17315.13,1.158,9.282,0.276
3,Bibb,Alabama,"Bibb County, AL",1007.0,79.0,22643.0,348.9,1007.0,20.0,38.0,...,10.0,57.0,11.2,15.0,"Bibb County, AL",1007.0,16904.87,1.158,9.282,0.276
4,Blount,Alabama,"Blount County, AL",1009.0,199.0,57704.0,344.9,1009.0,20.0,34.0,...,12.0,23.0,11.7,14.0,"Blount County, AL",1009.0,16393.63,1.158,9.282,0.276

In [10]:
newfile = 'Source_Data/age_adjusted_2_year_mortality.csv'
newdata = pd.read_csv(newfile)

In [11]:
newdata.head()

,Notes,County,County Code,Deaths,Population,Crude Rate,Age Adjusted Rate
0,NaN,"Autauga County, AL",1001.0,314.0,110451.0,284.3,275.9
1,NaN,"Baldwin County, AL",1003.0,1315.0,412253.0,319,240.2
2,NaN,"Barbour County, AL",1005.0,201.0,52235.0,384.8,306.8
3,NaN,"Bibb County, AL",1007.0,165.0,45204.0,365,321.3
4,NaN,"Blount County, AL",1009.0,400.0,115380.0,346.7,287.3

In [12]:
len(data)

3189

In [13]:
len(newdata)

3150

In [15]:
newdata.tail(80)

,Notes,County,County Code,Deaths,Population,Crude Rate,Age Adjusted Rate
3070,NaN,"Platte County, WY",56031.0,64.0,17485.0,366,218.2
3071,NaN,"Sheridan County, WY",56033.0,193.0,60269.0,320.2,220.6
3072,NaN,"Sublette County, WY",56035.0,33.0,19646.0,168,180.9
3073,NaN,"Sweetwater County, WY",56037.0,174.0,88858.0,195.8,259.8
3074,NaN,"Teton County, WY",56039.0,44.0,46264.0,95.1,103.4
3075,NaN,"Uinta County, WY",56041.0,86.0,41592.0,206.8,227.4
3076,NaN,"Washakie County, WY",56043.0,40.0,16569.0,241.4,151.8
3077,NaN,"Weston County, WY",56045.0,42.0,14466.0,290.3,195.4
3078,---,NaN,NaN,NaN,NaN,NaN,NaN
3079,"Dataset: Compressed Mortality, 1999-2016",NaN,NaN,NaN,NaN,NaN,NaN
3080,Query Parameters:,NaN,NaN,NaN,NaN,NaN,NaN
3081,ICD-10 Codes: I00-I99 (Diseases of the circula...,NaN,NaN,NaN,NaN,NaN,NaN
3082,Year: 2015; 2016,NaN,NaN,NaN,NaN,NaN,NaN
3083,Group By: County,NaN,NaN,NaN,NaN,NaN,NaN
3084,Show Totals: False,NaN,NaN,NaN,NaN,NaN,NaN
3085,Show Zero Values: False,NaN,NaN,NaN,NaN,NaN,NaN
3086,Show Suppressed: False,NaN,NaN,NaN,NaN,NaN,NaN
3087,Standard Population: 2000 U.S. Std. Population,NaN,NaN,NaN,NaN,NaN,NaN
3088,"Calculate Rates Per: 100,000",NaN,NaN,NaN,NaN,NaN,NaN
3089,---,NaN,NaN,NaN,NaN,NaN,NaN
3090,Help: See http://wonder.cdc.gov/wonder/help/cm...,NaN,NaN,NaN,NaN,NaN,NaN
3091,---,NaN,NaN,NaN,NaN,NaN,NaN
3092,"Query Date: Apr 5, 2019 3:24:52 PM",NaN,NaN,NaN,NaN,NaN,NaN
3093,---,NaN,NaN,NaN,NaN,NaN,NaN
3094,Suggested Citation: Centers for Disease Contro...,NaN,NaN,NaN,NaN,NaN,NaN
3095,"1999-2016 on CDC WONDER Online Database, relea...",NaN,NaN,NaN,NaN,NaN,NaN
3096,"2U, 2016, as compiled from data provided by th...",NaN,NaN,NaN,NaN,NaN,NaN
3097,Program. Accessed at http://wonder.cdc.gov/cmf...,NaN,NaN,NaN,NaN,NaN,NaN
3098,---,NaN,NaN,NaN,NaN,NaN,NaN
3099,Messages:,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
3120,http://wonder.cdc.gov/wonder/help/cmf.html#200...,NaN,NaN,NaN,NaN,NaN,NaN
3121,6. The method used to calculate age-adjusted r...,NaN,NaN,NaN,NaN,NaN,NaN
3122,http://wonder.cdc.gov/wonder/help/cmf.html#Age...,NaN,NaN,NaN,NaN,NaN,NaN
3123,7. Deaths for persons of unknown age are inclu...,NaN,NaN,NaN,NaN,NaN,NaN
3124,8. Prince of Wales-Outer Ketchikan Census Area...,NaN,NaN,NaN,NaN,NaN,NaN
3125,"beyond, death counts and population estimates ...",NaN,NaN,NaN,NaN,NaN,NaN
3126,of Wales-Hyder Census Area (FIPS code 02198). ...,NaN,NaN,NaN,NaN,NaN,NaN
3127,only reflect data from 1999 through 2013; for ...,NaN,NaN,NaN,NaN,NaN,NaN
3128,http://wonder.cdc.gov/wonder/help/cmf.html#Pri...,NaN,NaN,NaN,NaN,NaN,NaN
3129,"9. Skagway-Hoonah-Angoon Census Area, Alaska (...",NaN,NaN,NaN,NaN,NaN,NaN
3130,counts and population estimates for Skagway-Ho...,NaN,NaN,NaN,NaN,NaN,NaN
3131,"and Skagway Municipality, (FIPS code 02230). D...",NaN,NaN,NaN,NaN,NaN,NaN
3132,only reflect data from 1999 through 2013; for ...,NaN,NaN,NaN,NaN,NaN,NaN
3133,http://wonder.cdc.gov/wonder/help/cmf.html#Ska...,NaN,NaN,NaN,NaN,NaN,NaN
3134,"10. Wrangell-Petersburg Census Area, Alaska (F...",NaN,NaN,NaN,NaN,NaN,NaN
3135,counts and population estimates for Wrangell-P...,NaN,NaN,NaN,NaN,NaN,NaN
3136,"02195) and Wrangell City and Borough, (FIPS co...",NaN,NaN,NaN,NaN,NaN,NaN
3137,"requests, only reflect data from 1999 through ...",NaN,NaN,NaN,NaN,NaN,NaN
3138,http://wonder.cdc.gov/wonder/help/cmf.html#Wra...,NaN,NaN,NaN,NaN,NaN,NaN
3139,"11. Carson City, Nevada (FIPS code 32510) data...",NaN,NaN,NaN,NaN,NaN,NaN
3140,"12. Baltimore city, Maryland (FIPS code 24510)...",NaN,NaN,NaN,NaN,NaN,NaN
3141,"13. St. Louis city, Missouri (FIPS code 29510)...",NaN,NaN,NaN,NaN,NaN,NaN
3142,"14. Bedford city, Virginia (FIPS code 51515) d...",NaN,NaN,NaN,NaN,NaN,NaN
3143,population estimates for Bedford city have bee...,NaN,NaN,NaN,NaN,NaN,NaN
3144,estimates for this entity from multi-year requ...,NaN,NaN,NaN,NaN,NaN,NaN
3145,set to zero. More information: http://wonder.c...,NaN,NaN,NaN,NaN,NaN,NaN
3146,"15. Clifton Forge city, Virginia (FIPS code 51...",NaN,NaN,NaN,NaN,NaN,NaN
3147,population estimates for Clifton Forge city ha...,NaN,NaN,NaN,NaN,NaN,NaN
3148,Death counts and population estimates for this...,NaN,NaN,NaN,NaN,NaN,NaN
3149,2001 and beyond they have been set to zero. Mo...,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
# Get rid of notes at end
newdata = newdata.iloc[0:3078,:]

In [17]:
data['county_and_state_y'].count()

3113

In [18]:
mergedata = data.merge(newdata[['County','Age Adjusted Rate']],left_on='county_and_state_y',right_on='County',how='left')

In [19]:
mergedata['Age Adjusted Rate'].count()

3056

In [20]:
len(mergedata)

3189

In [21]:
mergedata = mergedata.drop(columns='County')
mergedata.tail()

,county,state,county_and_state_x,code,Deaths,Population,Crude Rate,fips,smoking,obesity,...,physicians,pollution,diabetes,county_and_state_y,code2,sunlight,blow,ganj,smack,Age Adjusted Rate
3184,Teton,Wyoming,"Teton County, WY",56039.0,21.0,23191.0,90.6,56039.0,14.0,14.0,...,121.0,4.9,4.0,"Teton County, WY",56039.0,16531.32,1.331,10.965,0.234,103.4
3185,Uinta,Wyoming,"Uinta County, WY",56041.0,42.0,20773.0,202.2,56041.0,18.0,32.0,...,39.0,5.9,9.0,"Uinta County, WY",56041.0,17123.76,1.331,10.965,0.234,227.4
3186,Washakie,Wyoming,"Washakie County, WY",56043.0,18.0,8235.0,218.6,56043.0,16.0,30.0,...,49.0,4.8,11.0,"Washakie County, WY",56043.0,16171.03,1.331,10.965,0.234,151.8
3187,Weston,Wyoming,"Weston County, WY",56045.0,21.0,7236.0,290.2,56045.0,17.0,31.0,...,41.0,4.1,9.0,"Weston County, WY",56045.0,15923.65,1.331,10.965,0.234,195.4
3188,Niobrara,Wyoming,NaN,NaN,NaN,NaN,NaN,56027.0,17.0,25.0,...,40.0,3.3,8.0,"Niobrara County, WY",56027.0,16054.19,1.331,10.965,0.234,329.7

In [22]:
#Get rid of the (unreliable) labels from the data using rstrip
mergedata['Age Adjusted Rate'] = mergedata['Age Adjusted Rate'].astype('str')
mergedata['Age Adjusted Rate'] = mergedata['Age Adjusted Rate'].map(lambda x: x.rstrip('()Unreliab '))

In [23]:
mergedata.tail()

,county,state,county_and_state_x,code,Deaths,Population,Crude Rate,fips,smoking,obesity,...,physicians,pollution,diabetes,county_and_state_y,code2,sunlight,blow,ganj,smack,Age Adjusted Rate
3184,Teton,Wyoming,"Teton County, WY",56039.0,21.0,23191.0,90.6,56039.0,14.0,14.0,...,121.0,4.9,4.0,"Teton County, WY",56039.0,16531.32,1.331,10.965,0.234,103.4
3185,Uinta,Wyoming,"Uinta County, WY",56041.0,42.0,20773.0,202.2,56041.0,18.0,32.0,...,39.0,5.9,9.0,"Uinta County, WY",56041.0,17123.76,1.331,10.965,0.234,227.4
3186,Washakie,Wyoming,"Washakie County, WY",56043.0,18.0,8235.0,218.6,56043.0,16.0,30.0,...,49.0,4.8,11.0,"Washakie County, WY",56043.0,16171.03,1.331,10.965,0.234,151.8
3187,Weston,Wyoming,"Weston County, WY",56045.0,21.0,7236.0,290.2,56045.0,17.0,31.0,...,41.0,4.1,9.0,"Weston County, WY",56045.0,15923.65,1.331,10.965,0.234,195.4
3188,Niobrara,Wyoming,NaN,NaN,NaN,NaN,NaN,56027.0,17.0,25.0,...,40.0,3.3,8.0,"Niobrara County, WY",56027.0,16054.19,1.331,10.965,0.234,329.7

In [24]:
# Turn rate data back to numeric now that strings are removed
mergedata['Age Adjusted Rate'] = pd.to_numeric(mergedata['Age Adjusted Rate'],errors='coerce')

In [25]:
mergedata.tail()

,county,state,county_and_state_x,code,Deaths,Population,Crude Rate,fips,smoking,obesity,...,physicians,pollution,diabetes,county_and_state_y,code2,sunlight,blow,ganj,smack,Age Adjusted Rate
3184,Teton,Wyoming,"Teton County, WY",56039.0,21.0,23191.0,90.6,56039.0,14.0,14.0,...,121.0,4.9,4.0,"Teton County, WY",56039.0,16531.32,1.331,10.965,0.234,103.4
3185,Uinta,Wyoming,"Uinta County, WY",56041.0,42.0,20773.0,202.2,56041.0,18.0,32.0,...,39.0,5.9,9.0,"Uinta County, WY",56041.0,17123.76,1.331,10.965,0.234,227.4
3186,Washakie,Wyoming,"Washakie County, WY",56043.0,18.0,8235.0,218.6,56043.0,16.0,30.0,...,49.0,4.8,11.0,"Washakie County, WY",56043.0,16171.03,1.331,10.965,0.234,151.8
3187,Weston,Wyoming,"Weston County, WY",56045.0,21.0,7236.0,290.2,56045.0,17.0,31.0,...,41.0,4.1,9.0,"Weston County, WY",56045.0,15923.65,1.331,10.965,0.234,195.4
3188,Niobrara,Wyoming,NaN,NaN,NaN,NaN,NaN,56027.0,17.0,25.0,...,40.0,3.3,8.0,"Niobrara County, WY",56027.0,16054.19,1.331,10.965,0.234,329.7

In [44]:
mergedata.to_csv('Source_Data/merged_counties_2_year_merged.csv')